div{
    background-color: #ee6e73;
    border: 1px solid white;
    border-radius: 20px;
    padding:10px;
    color: white;
    margin:10px;
}
label{
    color: white;
}
button,a{
    background-color: white;
    color: #ee6e73;
}